footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #0c4b6f;
  color: #fffff8;
  margin-top: 12px;
}
footer p {
  font-family: "Righteous", cursive;
  text-align: center;
}
